.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    text-align: center;
}

.modal-body {
    padding: 2rem;
    width: 400px;
    border-radius: 50px;
    background: #f5f7fa;
    color: #2d2d2d;
    height: 200px;
}

.rm{
    margin-top: 10px;
    margin-bottom: 10px;

}


